@media screen and (max-width: 800px) {
  body {
    background-color: black;
    color: white;
  }
}

@media screen and (max-width: 400px){
  body {
    background-color: red;
    color: blue;
  }
}

@media screen and (max-width: 600px) and (min-width: 450px){
  body {
    background-color: pink;
    color: white;
  }
}
